.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
table td {
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
}
table thead td {
  font-weight: 600;
  font-size: 14px;
}
a.btn {
  border-radius: 3px;
  margin: 0px 2px;
  font-size: 13px;
  font-weight: 600;
}
label {
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}
.form-control {
  border-radius: 4px;
  min-height: 42px;
  font-size: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
